.defaultButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  height: 36px;
  padding: 5px 15px;
  border-radius: 8px;
  color: rgb(32, 101, 209);
  font-weight: 700;
  font-size: 14px;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;

  &:hover {
    background-color: rgba(32, 101, 209, 0.08);
  }

  // buttonAnimation
  .buttonAnimation-enter {
    animation: buttonCircle 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms forwards normal;
    opacity: 0;
  }
  .buttonAnimation-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  .buttonAnimation-exit {
    opacity: 1;
  }
  .buttonAnimation-exit-active {
    animation: buttonCircle 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms forwards normal;
    opacity: 0;
  }

  .buttonAnimation {
    position: absolute;
    background-color: rgba(134, 140, 146, 0.7);
    border-radius: 50%;
    opacity: 0;

    animation-name: animation-buttonCircle;
    animation-duration: 550ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

//
.defaultButton_border {
  color: rgb(255, 255, 255);
  border: 1px solid rgba(145, 158, 171, 0.32);

  &:hover {
    border-color: rgb(255, 255, 255);
    background-color: rgba(145, 158, 171, 0.08);
  }
}

.defaultButton_bg {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 101, 209);
  box-shadow: none;

  &:hover {
    background-color: rgb(16, 57, 150);
    box-shadow: rgba(32, 101, 209, 0.24) 0px 8px 16px 0px;
  }
}

.defaultButton_bg_red {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 86, 48);
  box-shadow: none;

  &:hover {
    background-color: rgb(183, 29, 24);
    box-shadow: rgba(255, 86, 48, 0.24) 0px 8px 16px 0px;
  }
}

@keyframes animation-buttonCircle {
  0% {
    transform: scale(0);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}
