.userMenuContainer {
  position: absolute;
  top: 70px;
  right: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 50px;
  padding: 5px;
  background-color: rgb(33, 43, 54);
  border-radius: 16px;
  overflow: hidden;
  z-index: 10;

  .userInfo {
    width: 100%;
    padding: 5px;
    font-size: 16px;

    .userName {
      color: #fff;

      span {
        color: rgb(145, 158, 171);
      }
    }
  }

  .buttonsBlock {
    width: 100%;
    padding: 5px;
  }
}
