.inputFile {
  // Main params
  max-width: calc(100% - 1px);
  .input {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin-top: 10px;
    border: 0px none;
    vertical-align: top;
    width: 100%;

    label {
      line-height: 1.4375em;
      font-size: 1rem;
      padding: 0px;
      display: block;
      transform-origin: left top 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 24px);
      position: absolute;
      left: 0px;
      top: 0px;
      transform: translate(14px, 16px) scale(1);
      transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      z-index: 1;
      pointer-events: none;
      cursor: pointer;
    }

    .inputInput {
      position: relative;
      display: inline-flex;
      align-items: center;
      width: 100%;
      border-radius: 8px;
      line-height: 1.4375em;
      font-size: 1rem;
      box-sizing: border-box;
      cursor: pointer;

      input {
        font: inherit;
        letter-spacing: inherit;
        color: currentcolor;
        border: 0px none;
        box-sizing: content-box;
        background: none;
        height: 1.4375em;
        margin: 0px;
        display: block;
        min-width: 0px;
        width: 100%;
        animation-duration: 10ms;
        padding: 16.5px 14px;
        outline: none;
      }

      fieldset {
        text-align: left;
        position: absolute;
        margin: 0px;
        padding: 0px 8px;
        inset: -5px 0px 0px;
        pointer-events: none;
        border-radius: inherit;
        border-style: solid;
        border-width: 1px;
        min-width: 0%;

        legend {
          float: unset;
          width: auto;
          display: block;
          padding: 0px;
          height: 11px;
          font-size: 0.75em;
          white-space: nowrap;
          max-width: 100%;

          span {
            position: relative;
            top: -5px;
            padding-left: 5px;
            padding-right: 5px;
            display: inline-block;
          }
        }
      }
    }
  }

  // -----------------------------------------------------------------

  // Normal
  .inputNoError {
    label {
      color: rgb(99, 115, 129);
    }

    .inputInput {
      color: rgb(255, 255, 255);

      &:hover fieldset {
        border-color: rgb(255, 255, 255);
      }

      fieldset {
        border-color: rgba(145, 158, 171, 0.32);

        legend {
          color: rgb(99, 115, 129);
        }
      }
    }
  }

  // -----------------------------------------------------------------

  // Error
  .inputError {
    label {
      color: rgb(255, 86, 48);
    }

    .inputInput {
      fieldset {
        border-color: rgb(255, 86, 48);

        legend {
          color: rgb(255, 86, 48);
        }
      }
    }

    .inputTextError {
      color: rgb(255, 86, 48);
      line-height: 1.5;
      font-size: 14px;
      text-align: left;
      margin: 8px 14px 0px;
    }
  }

  // -----------------------------------------------------------------

  // Focus
  .inputFocus {
    label {
      color: rgb(255, 255, 255);
    }

    .inputInput {
      outline: none;

      fieldset {
        border-color: rgb(255, 255, 255);

        legend {
          transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  // -----------------------------------------------------------------

  // isDrop
  .inputIsChange {
    label {
      color: rgb(255, 255, 255);
    }

    .inputInput {
      fieldset {
        border-color: rgb(255, 255, 255);

        legend {
          transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
