.pageHeader {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 56px;
}

.carMainInfo {
  display: flex;
  width: 100%;
  min-height: 500px;

  .carImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
    height: 500px;
    padding: 15px;
  }

  .carInfo {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 10px;
    width: 300px;
    flex-grow: 0;
    max-width: 50%;

    .carName {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .purchasePrice {
      font-size: 16px;
      margin-top: 10px;
      user-select: text;

      span {
        padding-left: 3px;
        color: rgb(255, 86, 48);
        user-select: text;
      }
    }

    .costs {
      font-size: 16px;
      user-select: text;

      span {
        padding-left: 3px;
        color: rgb(255, 86, 48);
        user-select: text;
      }
    }
  }
}

.lineButtonsContainer {
  width: 100%;
}

.popupDownButtonsBlock {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

// .rc-scrollbars-container {
//   .rc-scrollbars-view {
//     scrollbar-width: none;

//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }
// }

//

@media (max-width: 600px) {
  .carMainInfo {
    flex-direction: column;

    .carInfo,
    .carImage {
      flex-basis: 100%;
      max-width: 100%;
    }

    .carInfo {
      margin-bottom: 24px;
      width: 100%;
    }
  }
}
