.loginPageComponent,
.registrPageComponent {
  margin: auto;
  max-width: 400px;
  margin-top: 200px;

  .pageName {
    font-size: 1.5rem;
    margin: 0px;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }

  .redirect {
    margin: 0px 0px 5px 0px;

    span {
      margin: 0px;
      line-height: 1.57143;
      font-size: 0.875rem;

      a {
        font-weight: 600;
        line-height: 1.57143;
        font-size: 0.875rem;
        color: rgb(32, 101, 209);
        margin: 0px 0px 0px 4px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .authForm {
    .inputsBlock {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto-fill, 1fr);
      gap: 5px;
      margin-bottom: 10px;
    }

    .inputsBlockColumn {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto-fill, 1fr);
      gap: 5px;
      margin-bottom: 10px;
    }

    .buttonsBlock {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
    }

    // @media (max-width: 600px) {
    //   .inputsBlock {
    //     grid-template-columns: repeat(1, 1fr);
    //   }
    // }
  }
}
